<ul class="sidebar-menu">
<li class="current first">
    <a href="">Home</a>
</li>
<li class="current_ancestor">
    <a href="">About Me</a>
    <ul class="menu_level_1">
        <li class="current first last">
            <a href="">Edit profile</a>
        </li>
    </ul>
</li>
</ul>